<div  class = "mat-elevation-z8">
<div class="form-group">
    <input type="text" class="form-control" name ="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
</div>
<table  class="mat-elevation-z8 table table-striped table-hover table-bordered " > 
    <thead >
        <!--bg-primary  -->
        <th>Rut</th>
        <th>Nombre </th>
        <th>Mandante</th>
        <th>Convenio</th>
        <th>Ingreso</th>
        <th>Consentimiento</th>
     <!--   <th >Accion</th> -->
    </thead>


    
    <tbody>
        <tr *ngFor="let paciente of pacientes | filter: filterPost | paginate: { itemsPerPage: 20, currentPage: pages }" align="text-align-center">
         
            <td>{{paciente.rut}}</td>
         
            <td>{{paciente.N_pacientes}}</td>
            <td>{{paciente.E_mandante}}</td>
            <td>{{paciente.E_convenio}}</td>
            <td>{{paciente.f_ingreso}}</td>
            <td>{{paciente.consentimiento}}</td>
         <!--  <td><a href="edit/{{paciente.id}}" class="btn btn-success" >Registro</a> </td>-->
            <!--
            | <button (click)="deletePaciente(paciente)" class="btn btn-info" >QUITAR</button>
        -->
        </tr>

    </tbody>
</table>  

<pagination-controls (pageChange)="pages = $event"></pagination-controls>


</div>