<div class="container-fluid">
<div  class=".container-fluid"> 
  <!--container-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded-3 ">
   
    
    <div class="container-fluid">

   
        <a class="navbar-brand" href="#">
          <img src="assets/img/bioclinic.png" alt="" width="130" height="50" class="rounded-3">
        </a>
   
      

 


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse " id="navbarSupportedContent" >


        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link active" aria-current="page" href="add-pacientes/">INGRESO</a>
          
          </li>
        
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="lista-pacientes/">PACIENTES</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="bus-pacientes/"  aria-current="page">INGRESADOS</a>
          </li>
        </ul>
        
      </div>
 
    </div>
  </nav>
  <router-outlet> 
<!-- se envia a app-routing.route.ts-->

  </router-outlet>


